/* Powered | CoderX ©2021 | Andrei Abd
█▀▀ █▀█ █▀▄ █▀▀ █▀█ ▀▄▀
█▄▄ █▄█ █▄▀ ██▄ █▀▄ █░█
CODER X |تم تصميم الموقع و برمجته من قبل اندريه عبد
mail      :  usr.g0a1@gmial.com
CoderX    :  https://coderx-project.blogspot.com/
Whatsapp  :  +963934820511
Pinterest :  https://www.pinterest.com/andreiabd93
Instagram :  https://www.instagram.com/andrei_abd/
Linkeden  :  https://www.linkedin.com/in/andreiabd
Facebook  :  https://www.facebook.com/andreiaabd/ */

*{
transition:all .5;
}
.small, small {
    font-size: 1em;
}
body{
width: 100%;
margin: auto;
}
#fixSpaceBlank{
padding-top: 70px;
}
#header-title{
margin:5px;
border: 1px solid #000;
border-radius: 15px 15px 0px 0px;
box-shadow: 0px 0px 5px #000;
position: fixed;
background: rgb(87,0,0);
background: linear-gradient(90deg, rgba(87,0,0,1) 0%, rgba(214,0,0,1) 35%, rgba(110,0,0,1) 100%);
z-index: 5;
width: 100%;
display: inline-grid;

}
footer{
font-size: 15px;
}
#footer-title{
margin:12px;
border: 1px solid #000;
border-radius: 0px 0px 15px 15px;
text-align: center;
font-weight: bold;
box-shadow: 0px 0px 5px #000;
}
#footer-header-card{
margin:20px;
border: 1px solid #000;
border-radius: 0px 0px 15px 15px;
text-align: center;
font-weight: bold;
box-shadow: 0px 0px 10px #000;
}
main{
margin: 12px;
border: 1px solid #000;
box-shadow: 0px 0px 10px #000;

}
#line{
margin:12px;
border: 0.5px solid #000;
}
nav {
direction: rtl;
text-align: right;
font-family: 'Kufam', cursive;
}
#nav-buttons button {
border-radius: 15px 0px 15px 0px;
text-align: right;
color: #000;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#nav-buttons button:hover, #nav-buttons button:focus {
color: #fff;
background-color: #000;
}
#btnmain-main {
border-radius: 15px 0px 15px 0px;
text-align: right;
color: #000;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
font-size: 15px;
}
#btnmain-main:hover,#btnmain-main:focus{
color: #fff;
background-color: #000;
}
#btn-facebookpage-go{
border-radius: 15px 0px 15px 0px;
text-align: right;
color: #000;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
font-size: 15px;
}
#btn-facebookpage-go:hover,#btn-facebookpage-go:focus{
color: #fff;
background-color: #000;
}
#navbarmainbtn {
border-radius: 15px 0px 0px 15px;
box-shadow: 0px 1px 5px #000;
text-align: righ;
color: #000;
border: 1px solid #000;
margin: 5px;
}
#navbarmainbtn:hover, #navbarmainbtn:focus{
color: #fff;
background-color: #000;
}
#marquee-text{
margin: 12px;
font-weight: bolder;
}
#marquee-blank{
float: right;
border: 1px solid #000 ;
width:10%;
height: 28px;
border-radius: 15px 0px 0px 15px;
box-shadow: 0px 1px 5px #000;
}
#marquee-blank-mainpage{
float: right;
border: 1px solid #000 ;
width:100%;
height: 28px;
border-radius: 0px 0px 15px 15px;
box-shadow: 0px 1px 5px #000;
}
#mainleft-texture{
background-color: #fff;
width: 99%;
margin-top: 20px;
height: auto;
text-align: right;
}
#maintop-card{
direction: rtl;
text-align: right;
margin: 10px;
}
#maintop-cardother{
direction: ltr;
text-align: right;
margin: 10px;
font-weight: bold;
font-size: 15px;

}
#main-page-in-main{
text-align: right;
direction: rtl;
display: none;
}
#mainpage-navebar{
margin:5px;
padding: 5px;
padding-right: 15px;
color: #000;
font-family: 'Kufam', cursive;
text-align: right;
direction: rtl;
box-shadow: 0px 0px 15px #fff;
background-color: #fff;
font-size: 20px;
}
#marquee-main-page{
border-bottom: 2px solid #000;
}
#marquee-main-page p {
margin: 5px;
font-weight: bold;
text-align: right;
}
#btn-main-pagelist-book{
border-radius: 15px 0px 0px 15px;
box-shadow: 0px 1px 5px #000;
text-align: righ;
color: #000;
border: 1px solid #000;
margin: 5px;
}
#texture-nav-btn{
text-align: right;
margin: 10px;
direction: rtl;
}
#icon-text-nave-report{
text-align: center;
}
#nvae-texture1 ,#nvae-texture2 ,#nvae-texture3{
display: none;
}
#texture-main-page-click{
text-align: right;
margin: 10px;
direction: rtl;
font-size: 15px;
}
#articles-show-all-main-list{
display: none;
}
#articles-show-all-main-list a{
font-size: 17px;
}
.btn{
font-size: large;
background-color: #fff;
border: 1px solid #000;
margin: 10px;
color: #000;
border-radius: 15px 0px 0px 15px;
}
.btn:hover, .btn:focus{
color: #fff;
background-color: #000;
}
#texutre-main-page-1-all{
display: none;
}
.loader {
position: fixed;
z-index: 99;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
background-color: #fff;
align-items: center;
}
.loader img {
width: 40%;
}
.loader.hidden {
animation: fadeOut 2s;
animation-fill-mode: forwards;
}
@keyframes fadeOut {
100% {
opacity: 0;
visibility: hidden;
}
}
#back-to-top-btn {
display: none;
position: fixed;
bottom: 15px;
right: 20px;
font-size: 30px;
width: 50px;
height: 50px;
background: rgb(87,0,0);
background: linear-gradient(90deg, rgba(87,0,0,1) 0%, rgba(214,0,0,1) 35%, rgba(110,0,0,1) 100%);
color: #fff;
border-radius: 10%;
cursor: pointer;
border: 1px solid #000;
transition-duration: 0.2s;
transition-timing-function: ease-in-out;
transition-property: background-color, color;
box-shadow: 0px 1px 5px #000;

}
#back-to-top-btn:hover, #back-to-top-btn:focus {
background-color: #000;
color: #fff;
}
#books-of-plastic-arts button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#cards-book-all-lib{
border: 1px solid #000;
border-radius: 15px;
margin: 5px;
direction: rtl;
}
#content-drawing-and-painting{
display: none;
}
#books-of-plastic-arts{
display: none;
}
#plastic-art-books-printmaking {
display: none;
font-size: 15px;
}
#content-printmaking {
display: none;
}
#content-carving{
display: none;
}
#plastic-art-books-carving{
display: none;
font-size: 15px;
}
#plastic-art-books-color{
display: none;
font-size: 15px;
}
#plastic-art-books-color button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#content-color{
display: none;
}
#plastic-art-books-anatomy{
display: none;
font-size: 15px;
}
#plastic-art-books-anatomy button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#content-anatomy{
display: none;
}
#plastic-art-books-prespective{
display: none;
font-size: 15px;
}
#plastic-art-books-prespective button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#content-prespective{
display: none;
}
#plastic-art-books-design button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#plastic-art-books-design{
font-size: 15px;
display: none;
}
#content-design{
display: none;
}
#plastic-art-books-education button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#plastic-art-books-education {
font-size: 15px;
display: none;
}
#content-education{
display: none;
}
#plastic-art-books-criticism button{
border-radius: 15px 0px 15px 0px;
text-align: right;
border: 1px solid #000;
margin: 5px;
box-shadow: 0px 1px 5px #000;
}
#plastic-art-books-criticism{
font-size: 15px;
display: none;
}
#content-criticism{
display: none;
}
#dialogoverlay{
display: none;
opacity: .8;
position: fixed;
top: 0px;
left: 0px;
background-color: #fff;
width: 100%;
z-index: 10;
}
#dialogbox{
display: none;
position: fixed;
width: 250px;
z-index: 10;
}
#dialogboxbody{
color: #000;
border: 1px solid #000;
border-radius: 15px;
border: 1px solid black;
color: #000;
box-shadow: 2px 2px 5px black;
background-color: #fff;
padding: 15px;
}
#dialogboxfooter{
text-align: center;
}
/*nu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border: 1px solid #000;
  background: rgb(87,0,0);
  background: linear-gradient(90deg, rgba(87,0,0,1) 0%, rgba(214,0,0,1) 35%, rgba(110,0,0,1) 100%);
  box-shadow: 0px 50px 200px #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  direction: rtl;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-align: right;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}
.sidenav a:hover {
  color: #fff;
  background-color: #000;
  border-radius: 15px 0px 0px 15px;
}
.sidenav .closebtn:hover{
  background-color: #fff;
  color: #000;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}
.dropdown ul{
  background-color: #a40101;
  border: 1px #fff solid;
  color: #fff;
}
.sidenav .btn-primary{
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.headerElementsFixed{
  display: inline-flex;
  padding: 6px;
  direction: rtl;
}
.headerElementsFixed button{
  font-family: 'Kufam', cursive;
  border-radius: 15px 0px 0px 15px;
  text-align: right;
  color: #fff;
  border: 1px solid #fff;
  margin: 5px;
  box-shadow: 0px 1px 5px #000;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
}
.headerElementsFixed button:hover{
  color: #000;
  background-color: #fff;
}
.headerElementsFixed p{
  font-family: 'Kufam', cursive;
  position: absolute;
  left: 30%;
  width: 40%;
  height: 17%;
  top: 35%;
}
.btn-primary{
  font-size: large;
  background-color: #fff;
  border: 1px solid #000;
  margin: 10px;
  color: #000;
  border-radius: 15px 0px 0px 15px;
}
.dropdown ul{
  direction: rtl;
}
.dropdown-menu{
  top: 3px;
  left: 2px;
  border: 1px solid #000;
  box-shadow: 0px 0px 10px #000;
}
